{% if context == 'top_bar_menu' %}
  {% for link in linklists[menu].links %}
    <li> 
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false">
          {{ link.title }}
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true">
          {{ link.title }}
        </a>
      {% endif %}
    </li>
  {% endfor %}

{%  elsif context == 'mobile-first-4' %}
   {% for link in linklists.new-main-menu-phone.links %}
      {% if forloop.index < 5 %}
      {% if linklists[link.handle] == empty %}
        <li data-link data-mobile-dropdown-rel="{{ link.handle }}">
          {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
            <a data-no-instant href="{{ link.url }}" class="parent-link--false">
              {{ link.title }}
            </a>
          {% else %}
            <a data-no-instant href="{{ link.url }}" class="parent-link--true">
              {{ link.title }}
            </a>
          {% endif %}
        </li>
      {% else %}
      <style>
        .mobile-menu-link-center-aligned {
          display: flex !important;
          justify-content: start;
        }
        .mobile-menu-img-left {
          height: 25px; width: 25px; margin-right: 10px;
        }
      </style>
        <li data-val data-mobile-dropdown-rel="{{ link.handle }}">
          {%  assign img_name = link.title | downcase | replace: ' ', '-' | remove: "&" | append: '-mobile.png'  %}
          {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
            <a data-no-instant href="{{ link.url }}" class="parent-link--false mobile-menu-link-center-aligned"><span>
              <img src="{{ img_name | asset_url}}" alt="" class="mobile-menu-img-left"></span>
              <span style="margin-right: auto;">{{ link.title }}</span> <span class="right icon-down-arrow"></span>
            </a>
          {% else %}
            <a data-no-instant class="parent-link--true mobile-menu-link-center-aligned"><span>
              <img src="{{ img_name | asset_url}}" alt="" class="mobile-menu-img-left"></span>
              <span style="margin-right: auto;">{{ link.title }}</span> <span class="right icon-down-arrow"></span>
            </a>
          {% endif %}
          <ul class="submenu">
            {% for link in linklists[link.handle].links %}
              {% if linklists[link.handle] == empty %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% else %}
                <li>
                  {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                    <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                      {{ link.title }} <span class="right icon-down-arrow"></span>
                    </a>
                  {% else %}
                    <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                      {{ link.title }} <span class="right icon-down-arrow"></span>
                    </a>
                  {% endif %}
                  <ul>
                    {% for link in linklists[link.handle].links %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      {% endif %}
    {% endfor %}

{% else %}
  {% for link in linklists.new-main-menu-phone.links %}
    {% if forloop.index >= 5 %}
    {% if linklists[link.handle] == empty %}
      <li data-link data-mobile-dropdown-rel="{{ link.handle }}"  class="bottom-links">
        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
            {{ link.title }}
          </a>
        {% else %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
            {{ link.title }}
          </a>
        {% endif %}
      </li>
    {% else %}
      <li data-val data-mobile-dropdown-rel="{{ link.handle }}">
        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
            {{ link.title }} <span class="right icon-down-arrow"></span>
          </a>
        {% else %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
            {{ link.title }} <span class="right icon-down-arrow"></span>
          </a>
        {% endif %}
        <ul class="submenu">
          {% for link in linklists[link.handle].links %}
            {% if linklists[link.handle] == empty %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
              <li>
                {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                  <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                    {{ link.title }} <span class="right icon-down-arrow"></span>
                  </a>
                {% else %}
                  <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                    {{ link.title }} <span class="right icon-down-arrow"></span>
                  </a>
                {% endif %}
                <ul>
                  {% for link in linklists[link.handle].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
