<script
  type="application/json"
  data-section-type="product-template"
  data-section-id="{{ section.id }}"
>
</script>
<style>
 
@media (max-width:798px) {
  .sticky #header.mobile_nav-fixed--true .top-bar .cart-container a, .sticky #header.mobile_nav-fixed--true .top-bar .cart-container span {
    color: black !important;
  } 
}
</style>
{% if section.settings.product_breadcrumb == false %}
  {% style %}
    .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}
<div class="product-banner section">
	<div class="section">
    {%
      render 'product',
      product: product,
      variant: product.selected_or_first_available_variant,
      display_sku: section.settings.display_sku,
      display_tags: section.settings.display_tags,
      display_social_buttons: section.settings.display_social_buttons,
      display_thumbnails: section.settings.product_thumbs,
      display_type: section.settings.display_type,
      display_vendor: section.settings.display_vendor,
      display_collections: section.settings.display_collections,
      enable_product_lightbox: section.settings.enable_product_lightbox,
      enable_shopify_review_comments: settings.enable_shopify_review_comments
      enable_shopify_product_badges: section.settings.enable_shopify_product_badges,
      review_position: section.settings.review_position,
      enable_reviews_in_description: nil,
      enable_thumbnail_slider: section.settings.enable_thumbnail_slider,
      enable_zoom: section.settings.activate_zoom,
      size_chart: settings.size_chart,
      gallery_arrows: section.settings.gallery_arrows,
      display_savings: section.settings.display_savings,
      product_description_position: section.settings.product_description_position,
      product_description_words: nil,
      product_images_position: section.settings.product_images_position,
      set_product_height: section.settings.set_product_height,
      product_height: section.settings.product_height,
      show_payment_button: section.settings.show_payment_button,
      slideshow_transition: section.settings.slideshow_animation,
      slideshow_speed: section.settings.slideshow_speed,
      thumbnail_position: section.settings.thumbnail_position,
      video_looping: section.settings.video_looping,
      template: 'product',
    %}
  </div>
</div>
{% if product.description != blank and product.description contains '<!-- split -->'  %}
  <br />
  <div class="one-whole column">
    <div class="description">
      {{ product.description | split: '<!-- split -->' | last }}
    </div>
  </div>
{% endif %}

{% if section.settings.review_position == 'below_gallery' %}
  <div class="one-whole column">
    <div class="shopify-reviews reviewsVisibility--{{ settings.enable_shopify_review_comments }}">
      <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </div>
{% endif %}

<div class="product-desp-content container">
{% for block in section.blocks %}
  {% if block.settings.title != blank %}
  <div class="one-whole column {{ block.settings.cssclass }}">
  <div class="is-flex is-flex-wrap equal-columns--outside-trim">
  <div class="one-half column medium-down--one-whole">
  <h3>{{ block.settings.title }}</h3>
  <div>{{ block.settings.text }}</div>
  </div>
    
  <div class="one-half column medium-down--one-whole">
  {% if block.settings.image != blank %}
  {% render 'image-element', image: block.settings.image, alt: link_title %}
  {% endif %}
  
  {% if block.settings.iframe_video != blank %}
  {% if block.settings.iframe_video contains 'vimeo' %}
  <div class="plyr__video-embed" id="video-{{ object.id }}" data-video-element data-external-video>
    <iframe src="https://player.vimeo.com/video/{{ block.settings.iframe_video }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media" allowfullscreen allowtransparency allow="autoplay"></iframe>
  </div>
  {% else %}
  <div class="plyr__video-embed" data-video-element data-external-video>
    <iframe src="https://www.youtube.com/embed/{{ block.settings.iframe_video }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
  </div>
  {% endif %}
  {% endif %}
  </div>
  </div>
  </div>
  {% endif %}
  
  {% if block.settings.html_title != blank %}
  <div class="{{ block.settings.html_cssclass }}">
    <div class="heading">{{block.settings.html_title}}</div>
    <div class="block-content">{{block.settings.pro_html_content}}</div>
  </div>
  {% endif %}
{% endfor %}
</div>

<div class="judgeme-reviews">
  <h4>Customer Reviews</h4>
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
</div>
 

{% assign curr_pro = product.type %}
{% assign cho_cnt = 0 %}
{% assign cw_cnt = 0 %}
{% assign pc_cnt = 0 %}

{% if section.settings.display_recently_viewed %}
  {% render 'include-recently-viewed' %}
{% endif %}

<div data-product-recommendations-container></div>

{% schema %}
{
  "name": "Product",
  "class": "shopify-section--product-template has-sidebar-option",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "info": "Only applies to desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Product reviews"
    },
    {
      "type": "paragraph",
      "content": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)"
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Display star rating on product",
      "default": false
    },
    {
      "type": "radio",
      "id": "review_position",
      "label": "Reviews position",
      "default": "next_to_gallery",
      "options": [
        {
          "value": "next_to_gallery",
          "label": "In product description area"
        },
        {
          "value": "below_gallery",
          "label": "Below image\/description"
        }
      ]
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
	{
	"type": "html-1",
    "name": "Html Content",
    "settings": [
      {
          "type": "text",
          "id": "html_title",
          "label": "Heading",
          "default": "Heading"
        },{
      "type": "html",
      "id": "pro_html_content",
      "label": "Html Content"
      },{
          "type": "text",
          "id": "html_cssclass",
          "label": "CSS Class"
        }
    ]
  },{
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Select Image."
        },
		{
          "type": "video_url",
          "id": "iframe_video",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },{
          "type": "text",
          "id": "cssclass",
          "label": "CSS Class"
        }
      ]
    }
  ],
  "default": {
    "settings": {}
  }
}
{% endschema %}